@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;700;900&display=swap");
/* CSS Codes */
*{
	margin: 0 auto;
    text-align: center;
    font-family: 'Cairo', sans-serif ;
    position: relative;
   
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Main Linear Design */
.mainLinear{
  background-color: #006837;
  height: fit-content;
  width: 600px;
  max-width: 80%;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.logo{
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.mainLinear:hover {
  margin: 0px 5px 10px 5px;
  background-color: #c69c6d;
  box-shadow: #000 5px 5px;
}

/* Titel Text Design */
#title{
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}


.mainLinear:hover #title{
  color: #000;
}

/* Text Linear */
.textLinear{
  padding-bottom: 10px;
}

.textLinear h1{
  font-size: 10px;
  color: rgb(201, 201, 201);
  transition: all 0.5s ease-in-out;
}


.mainLinear:hover .textLinear h1{
  color: #000;
}